img {
  display: block;
  width: 100%;
  /* set a max width */
  max-width: 400px;
  /* center using margin */
  margin: 200px auto;
  opacity: 0;
  transform: scale(0.5);
  /* transition opacity and transform over 300ms */
  transition: all 0.3s;
}

img.active {
  opacity: 1;
  transform: scale(1);
}
